body {
    color: midnightblue;
    background-color: skyblue;
    font-family: "Ubuntu";
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: skyblue;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: royalblue;
}


#mecaemail{
    font-size: 20px;
}

#bmccemail{
    font-size:20px;
}

#graduation{
    font-size:20px;
}

#current{
    font-size:20px;
}